:root{
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

.bg-github {
  background-color: #333;
  color: #FFF;
}

.text-twitter {
  color: #00acee;
}

.btn {
  border-radius: 2px;
}

#top-page {
  margin-top: -70px;
  padding-top: 70px;

}

#page1 {
  margin-top: -70px;
  padding-top: 70px;
}

#page2 {
  margin-top: -70px;
  padding-top: 70px;
}

#page3 {
  margin-top: -70px;
  padding-top: 70px;
}

#page4 {
  margin-top: -70px;
  padding-top: 70px;
}

.min-height {
  min-height: 100vh;
}

.myhover:hover {
  background-color: #EEEEEE;
}

.background {
  background-color: #F0F8FF;
}

.bg-page{
  background-color: #f8f8f8;
}

.toptitle{
  padding: 0;
  font-size: 1.8em
}
/* navbar */
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.active {
  background-color: red;
}

.navbar-toggler:focus {
  outline: none;
}

.footer-style {
  background-color: #333;
  color: #EEEEEE;
  font-size:0.5em;
}

.navbar-style {
  background-color: white;
}

.dropdown-style {
  background-color: ActiveBorder;
  color:#333;
} 

.my-name {
  margin-top: 23vh;
}
.top-style {
  color:ActiveCaption;
  font-size:5em;
}

.active-blue {
  color: #007bff;
}

.bg-active-blue {
  background-color: rgba(0,103,244,0.25);
  color: #333;
}

.page1-style {
  min-height: 75vh;
}

.image-style {
  width:22vw;
}

.skills-style {
  background-color: white;
}

.line-height {
  line-height: 2em;
}

.skills-title {
  color: #75A9FF;
}

.works-style {
  width: 94%;
}

.link-style:hover {
  text-decoration: none;
}

.fix-style {
  margin-bottom:8vw;
}


